<!DOCTYPE html>
<html>
    <head>
        <title>Entity Component System Experiment</title>
        <link rel="stylesheet" href="/js/lib/bootstrap/dist/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
        <style media="screen">
            [ng-cloak]: { display: none; }
        </style>
    </head>
    <body>
        <h1>Testing Page</h1>

        <div ng-cloak ng-controller="TestController">
            <ul>
                <li ng-repeat="item in data">
                    <entity-info entity="item"></entity-info>
                </li>
            </ul>
        </div>

        <script type="text/javascript" src="js/lib/requirejs/require.js"></script>
        <script type="text/javascript" src="js/RequireConfig.js"></script>
        <script type="text/javascript">
            require(['Bootstrap']);
        </script>
    </body>
</html>
